.reflection-view {
    -fx-background-color: -bg-black;
    -fx-padding: 32;
}

.title {
    -fx-font-family: -main-font;
    -fx-font-size: 32;
    -fx-fill: -text-main;
    -fx-font-weight: 600;
}

.subtitle {
    -fx-font-family: -main-font;
    -fx-font-size: 16;
    -fx-fill: rgba(255, 255, 255, 0.5);
}

.mood-button {
    -fx-background-color: transparent;
    -fx-background-color: -bg-back;
    -fx-border-color: -b-soft;
    -fx-border-width: 2.5;
    -fx-min-width: 64;
    -fx-min-height: 64;
    -fx-font-size: 50;
    -fx-border-style: solid;
}
.mood-button:hover {
    -fx-background-color: -bg-weak;
    -fx-background-insets: 2;
}
.mood-button.selected {
    -fx-background-color: -stroke-soft;
    -fx-background-insets: 2;
}

#badMood {
    -fx-border-radius: 999 0 0 999;
    -fx-background-radius: 999 0 0 999;
}
#neutralMood {
    -fx-border-style: solid hidden;
    -fx-background-insets: 0;
}
#goodMood {
    -fx-border-radius: 0 999 999 0;
    -fx-background-radius: 0 999 999 0;
}

.mood-button:selected {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.category-combo {
    -fx-background-color: -bg-muted;
    -fx-text-fill: -text-main;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5);
}

.category-chips {
    -fx-background-color: transparent;
}

.category-chip {
    -fx-background-color: -bg-muted;
    -fx-background-radius: 16;
    -fx-padding: 8 12;
    -fx-spacing: 8;
}

.reflection-area {
    -fx-background-color: -bg-muted;
    -fx-text-fill: -text-main;
    -fx-font-family: -main-font;
    -fx-background-radius: 8;
}

.save-button {
    -fx-background-color: #FF4E02;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 12 24;
}

.close-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.remove-category {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(255, 255, 255, 0.5);
    -fx-padding: 0 0 0 4;
    -fx-font-size: 16;
}

.remove-category:hover {
    -fx-text-fill: white;
}

.category-chip Label {
    -fx-text-fill: white;
}