.reflection-view {
    -fx-background-color: -bg-black;
    -fx-padding: 32;
}

.title {
    -fx-font-family: -main-font;
    -fx-font-size: 32;
    -fx-fill: -text-main;
    -fx-font-weight: 600;
}

.subtitle {
    -fx-font-family: -main-font;
    -fx-font-size: 16;
    -fx-fill: rgba(255, 255, 255, 0.5);
}

.mood-button {
    -fx-background-color: transparent;
    -fx-background-color: -bg-back;
    -fx-border-color: -b-soft;
    -fx-border-width: 2.5;
    -fx-min-width: 64;
    -fx-min-height: 64;
    -fx-font-size: 50;
    -fx-border-style: solid;
}

.mood-button:hover {
    -fx-background-color: -bg-weak;
    -fx-background-insets: 2;
}

.selected {
    -fx-background-color: -stroke-soft;
    -fx-background-insets: 2;
}

#badMood {
    -fx-border-radius: 999 0 0 999;
    -fx-background-radius: 999 0 0 999;
}

#neutralMood {
    -fx-border-style: solid hidden;
    -fx-background-insets: 0;
}

#goodMood {
    -fx-border-radius: 0 999 999 0;
    -fx-background-radius: 0 999 999 0;
}

.mood-button:selected {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.category-combo {
    -fx-background-color: -bg-muted;
    -fx-text-fill: -text-main;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5);
}

.category-chips {
    -fx-background-color: transparent;
}

.category-chip {
    -fx-background-color: -bg-muted;
    -fx-background-radius: 16;
    -fx-padding: 8 12;
    -fx-spacing: 8;
}

.reflection-area {
    -fx-background-color: -bg-muted;
    -fx-text-fill: -text-main;
    -fx-font-family: -main-font;
    -fx-background-radius: 8;
}

.save-button {
    -fx-background-color: #FF4E02;
    -fx-background-radius: 8;
    -fx-padding: 12 24;
}
.save-button:hover {
    -fx-background-color: #c33b00;
}

.save-button .add-task-icon {
    -fx-fill: white;
}

.save-button HBox {
    -fx-alignment: center;
}


.close-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.remove-category {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(255, 255, 255, 0.5);
    -fx-padding: 0 0 0 4;
    -fx-font-size: 16;
}

.remove-category:hover {
    -fx-text-fill: white;
}

.category-chip Label {
    -fx-text-fill: white;
}

.label-header {
    -fx-text-fill: -white;
}

#categoryComboBox {
    -fx-background-color: transparent;
    -fx-border-color: -stroke-soft;
    -fx-border-width: 2;
    -fx-border-radius: 12;
    -fx-padding: 10 10 10 12;
}

#categoryComboBox>* {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: -text-main;
    -fx-text-fill: -text-main;
}

#categoryComboBox .arrow,
#categoryComboBox .arrow-button {
    -fx-background-color: transparent;
}


/* this part is from  default stiles fxrt.jar!/com/sun/javafx/scene/control/skin/caspian/caspian.css */
#categoryComboBox:hover {
    /* -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color; */
    -fx-background-color: -bg-weak;
    -fx-background-radius: 12;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    /* -fx-padding: 0; */
}

#categoryComboBox:showing>.arrow-button {
    -fx-color: transparent;
    -fx-background-color: transparent;
}

/* ------- ARROW* ------- */
#categoryComboBox>.arrow-button>.arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: -color-soft;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em;
    -fx-shape: "M5.48369 3.879L9.19619 0.166504L10.2567 1.227L5.48369 6L0.710693 1.227L1.77119 0.166504L5.48369 3.879Z";
}