.root {
    -white: rgba(255, 255, 255);
    -color-soft: rgba(111.59, 119.24, 133.29);
    -color-weak: rgba(23.278, 27.12, 37.882);
    -color-black: rgba(12.983, 18.153, 27.793);
    -color-brand: #FF4E02;

    -stroke-soft: rgba(41.787, 48.198, 60.033);

    -bg-black: -color-black;
    -bg-soft: -color-soft;
    -bg-weak: -color-weak;
    -bg-black: -color-black;
    -bg-muted: -color-weak;

    -b-soft: -stroke-soft;
    -b-weak: -color-weak;
    -b-black: -color-black;
    -b-muted: -color-weak;

    -text-main: -white;
    -text-soft: -color-soft;
    -text-weak: -color-weak;
    -text-black: -color-black;

    -bg-button: rgba(41.787, 48.198, 60.033);
}

.notes-area {
    -fx-padding: 0;
    -fx-cursor: text;
    -fx-background-color: transparent;
    -fx-background-radius: 12;
    -fx-text-fill: -text-main;
    -fx-highlight-text-fill: rgb(0, 55, 255);
}

.notes-area>.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 12;
}

.notes-area .content {
    -fx-background-color: -bg-black;
    -fx-background-radius: 12;
    -fx-border-color: -b-soft;
    -fx-border-radius: 12;
    -fx-border-width: 1;
    -fx-padding: 10;
}

.notes-area>.scroll-pane>.viewport {
    -fx-background-color: transparent;
}

/* Optional: Wenn du auch die Scrollbars stylen möchtest */
.notes-area .scroll-bar:vertical,
.notes-area .scroll-bar:horizontal {
    -fx-background-color: transparent;
}


/* .text-area>.scroll-pane {
    -fx-background-color: null;
}

.text-area>.scroll-pane>.scroll-bar:horizontal {
    -fx-background-radius: 0 0 12 12;
}

.text-area>.scroll-pane>.scroll-bar:vertical {
    -fx-background-radius: 0 12 12 0;
}

.text-area>.scroll-pane>.corner {
    -fx-background-radius: 0 0 12 0;
} */

.character-count {
    -fx-text-fill: -text-soft;
    -fx-fill: -text-soft;
}

.character-count-container {
    -fx-padding: 0 12 0 0;
    -fx-min-height: 24;
    -fx-text-fill: -text-soft;
    -fx-translate-y: -38;
}

.character-count-icon {
    -fx-stroke: rgba(255, 255, 255, 0.5);
    -fx-stroke-line-cap: round;
    -fx-stroke-width: 1.5;
    -fx-fill: transparent;
}

.section-title {
    -fx-text-fill: -text-soft;
    -fx-fill: -text-soft;
    -fx-background-color: -bg-weak;
    -fx-padding: 6 20;
    -fx-pref-width: 999px;
}